<%- include('./begin', {
    title: title
}) %>


<%- include('./begin-layout') %>
<!-- Menu -->

<%- include('./aside-menu', {
    activePath
}) %>

<!-- Layout container -->
<div class="layout-page">

    <%- include('./navbar', {
        adminName
      }) %>

      
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="card">
            <div class="d-flex flex-row justify-content-between align-items-center">
                <h5 class="card-header">Appointments</h5>
                <div style="padding-right: 10rem;">
                    <a href="/admin/appointments" class="text-secondary <%= activeLinkPath == '/appointments' ? 'text-primary' : '' %> ">ALL</a>
                    <span>|</span>
                    <a href="/admin/appointments?status=paid" class="text-secondary <%= activeLinkPath == '/appointments/paid' ? 'text-info' : '' %>">ONLY PAID</a>
                    <span>|</span>
                    <a href="/admin/appointments?status=canceled" class="text-secondary <%= activeLinkPath == '/appointments/canceled' ? 'text-info' : '' %>">ONLY CANCELED</a>
                </div>
            </div>
            <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                <tr>
                    <th>Appointment Date</th>
                    <th>Appointment Time</th>
                    <th>Status</th>
                    <th>Patient</th>
                    <th>Doctor</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    <% appointments.map(appointment => { %>
                        <tr>
                            <td><strong><%= appointment.appointmentDate %></strong></td>
                            <td><strong><%= appointment.appointmentTime %></strong></td>
                            <% if(appointment.bill.status == "paid") { %>
                                <td><span class="badge bg-label-success me-1 text-secondary"><%= appointment.bill.status %></span></td>
                            <% } else { %>
                                <td><span class="badge bg-label-danger me-1 text-danger"><%= appointment.bill.status %></span></td>
                            <% } %>
                            <td><strong><%= appointment.patient.patientName %></strong></td>
                            <td><strong><%= appointment.doctor.doctorFullName %></strong></td>
                            <td>
                                <form method="post" action="/admin/appointments/delete-appointment">
                                    <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
                                    <input type="hidden" name="appointmentId" value="<%= appointment._id %>">
                                </form>
                            </td>
                        </tr>
                    <% })%>
                </table>
        </div>


<%- include('./end') %>