<%- include('./begin', {
  title: title
}) %>

      <%- include('./begin-layout') %>
          <!-- Menu -->
  
        <%- include('./aside-menu', {
          activePath
        }) %>
  
          <!-- Layout container -->
          <div class="layout-page">

            <%- include('./navbar', {
              adminName
            }) %>
            
  
            <!-- Content wrapper -->
            <div class="content-wrapper">
              <!-- Content -->
              <div class="container-xxl flex-grow-1 container-p-y">
                <div class="row">
                  <div class="col-lg-12 mb-4 order-0">
                    <div class="card card-statistics">
                      <div class="d-flex align-items-start row">
                        <div class="col-sm-7">
                          <div class="card-body">
                            <h5 class="card-title">Welcome Back Aziz</h5>
                          </div>
                        </div>
                        <div class="col-sm-5 text-center text-sm-left">
                          <div class="card-body pb-0 px-0 px-md-4">
                            <img
                              src="/assets/imgs/man-with-laptop-light.png"
                              height="140"
                              alt="View Badge User"
                              data-app-dark-img="illustrations/man-with-laptop-dark.png"
                              data-app-light-img="illustrations/man-with-laptop-light.png"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                  <div class="row">
                      <%- include('./reusable-home-card', {
                        image: true,
                        imageSrc: "/assets/icons/unicons/chart-success.png",
                        alt: "chart-success",
                        cardTitle: "Total Paid Appointments",
                        cardSubTitle: `$${totalPaidAppointments}`
                      }) %>
                        <%- include('./reusable-home-card', {
                          image: false,
                          icon: "bxs-calendar",
                          cardTitle: "Appointments",
                          cardSubTitle: totalAppointments
                        }) %>
                      </div>
                    <div class="row">
                        <%- include('./reusable-home-card', {
                          image: false,
                          icon: "bx-folder",
                          cardTitle: "Medical Files",
                          cardSubTitle: totalMedicalFiles
                        }) %>
                        <%- include('./reusable-home-card', {
                          image: false,
                          icon: "bx-capsule",
                          cardTitle: "Medicines",
                          cardSubTitle: totalMedicines
                        }) %>
                    </div>
                    <div class="row">
                        <%- include('./reusable-home-card', {
                          image: false,
                          icon: "bx-plus-medical",
                          cardTitle: "Doctors",
                          cardSubTitle: totalDoctors
                        }) %>
                        <%- include('./reusable-home-card', {
                          image: false,
                          icon: "bx-user-circle",
                          cardTitle: "Patients",
                          cardSubTitle: totalPatients
                        }) %>
                    </div>
                </div>
              </div>
              <!-- / Content -->
  
              <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
          <%- include('./end-layout') %>
  
      <!-- / Layout wrapper -->

<%- include('./end') %>